---
import MainLayout from "../../layouts/MainLayout.astro"
import PostCard from "../../components/PostCard.astro"
import {formatBlogPosts} from "../../js/utils"
const postCollection = await Astro.glob("./*.md");
const formattedPostCollection = formatBlogPosts(postCollection)
---
<MainLayout>
    
    <section class="space-y-10" aria-label="latest blog posts">
        <h1 class="font-bold text-5xl">New Blog Posts</h1>
        <ul class="grid gap-5 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">
            <!-- compare these props to original github -->
            {formattedPostCollection.map((post)=>(
                <li><PostCard {post}/></li>
            ))}
        </ul>
    </section>
</MainLayout>