---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---
<MainLayout title="about">
	<section class="flex flex-col gap-7 px-5 mx-auto my-7 max-w-[1008px] md:flex-row md:items-center" aria-label="about" >
		<Image 
			src={"/images/headshot.jpg"} 
			alt={"profile pic"}
			width={300}
			height={400}
			class={"rounded-full shadow-[15px_15px_30px_-12px] shadow-black object-none h-[400px] object-top"}
		/>
		
		<div>
			<h2 class="text-4xl font-bold">My Blog</h2>
			<p class="my-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quidem tempora beatae mollitia architecto optio sapiente repellendus natus. Minima reiciendis voluptatibus ratione quos exercitationem expedita commodi doloremque. Repellendus nulla nihil animi fuga voluptas amet fugit eveniet voluptates ab labore. Magnam.</p>
			<Link href="mailto:chris@codinginpublic.dev" text="Contact Me" style="btn-secondary"/>			
		</div>
	</section>
</MainLayout>

