---

---
<footer>
    <small>
        Copyright &copy;<span id="copyright"></span> | All rights reserved
    </small>
</footer>
<script>
    const spanDate = document.querySelector("#copyright") as HTMLSpanElement
    spanDate.textContent=new Date().getFullYear().toString()
</script>