---

---
<footer class="bg-white">
    <div class="flex justify-between p-4 mx-auto max-w-screen-2xl border-t-2">
        <small>
            Copyright &copy;<span id="copyright"></span> | All rights reserved
        </small>
        <small>Subscribe to RSS</small>
    </div>
</footer>
<script>
    const spanDate = document.querySelector("#copyright") as HTMLSpanElement
    spanDate.textContent=new Date().getFullYear().toString()
</script>