---
import { Icon } from "astro-icon/components";

interface Props{
    text:string;
    href:string;
    icon?:{
        name:string;
        side:"left"|"right"
    };
    style:keyof typeof color;
    classes?:string;
}
const {
    text,
    href,
    icon,
    style,
    classes    
} = Astro.props as Props

const color={
  primary: "bg-blue-500 text-white px-5 py-1 rounded-md",
  secondary: "bg-black text-white px-5 py-1 rounded-md"
}

---
<a class:list={[color[style],classes]} href={href}>
    {
        icon && icon.side === "left" && (
          <Icon class={"inline-block"} name={icon.name} size={24} />
        )
      }
    {text}
    {
        icon && icon.side === "right" && (
          <Icon class={"inline-block"} name={icon.name} size={24} />
        )
      }
</a>