---
import MainHead from "./MainHead.astro"
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

const{
    title="My Astro Blog",
    description="My musings about the Astro framework"
    }=Astro.props
---
<html lang="en">
    <MainHead {title} {description}/>
	<body class="bg-gray-100">
		<div class="flex flex-col justify-between min-h-screen gap-10">
        <Nav/>
            <main class="max-w-screen-2xl w-full mx-auto px-5">
                <slot>
                    <p>DEFAULT TEXT</p>
                </slot>
            </main>
        <Footer/>
        </div>
	</body>
</html>
